# FRONTEND CONFIG
VITE_WS_URL=ws://localhost:3001
VITE_BACKEND_URL=http://localhost:3001
VITE_WORLD_APP_ID=app_xxxxxxxxxxxxxxx
VITE_ENABLE_DEV_AUTH=false

# BACKEND CONFIG
PORT=3001
WORLD_RP_ID=app_xxxxxxxxxxxxxxx
WORLD_RP_SIGNING_KEY=sk_xxxxxxxxxxxxxxx
WORLD_ID_ACTION=human-world-login
